<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Year</key>
	<array>
		<string>1819</string>
		<string>1959</string>
		<string>1912</string>
		<string>1836</string>
		<string>1850</string>
		<string>1876</string>
		<string>1788</string>
		<string>1787</string>
		<string>1845</string>
		<string>1788</string>
		<string>1959</string>
		<string>1890</string>
		<string>1818</string>
		<string>1816</string>
		<string>1846</string>
		<string>1861</string>
		<string>1792</string>
		<string>1812</string>
		<string>1820</string>
		<string>1788</string>
		<string>1788</string>
		<string>1837</string>
		<string>1858</string>
		<string>1817</string>
		<string>1821</string>
		<string>1889</string>
		<string>1867</string>
		<string>1864</string>
		<string>1788</string>
		<string>1787</string>
		<string>1912</string>
		<string>1788</string>
		<string>1789</string>
		<string>1889</string>
		<string>1803</string>
		<string>1907</string>
		<string>1859</string>
		<string>1787</string>
		<string>1790</string>
		<string>1788</string>
		<string>1889</string>
		<string>1796</string>
		<string>1845</string>
		<string>1896</string>
		<string>1791</string>
		<string>1788</string>
		<string>1889</string>
		<string>1863</string>
		<string>1848</string>
		<string>1890</string>
	</array>
	<key>LicensePlates</key>
	<array>
		<string>alabamaplate.jpg</string>
		<string>alaskaplate.jpg</string>
		<string>arizonaplate.jpg</string>
		<string>arkansasplate.jpg</string>
		<string>CaliforniaPlate.png</string>
		<string>coloradoplate.jpg</string>
		<string>connecticutplate.jpg</string>
		<string>delewareplate.jpg</string>
		<string>floridaplate.jpg</string>
		<string>georgiaplate.jpg</string>
		<string>hawaiiplate.jpg</string>
		<string>idahoplate.jpg</string>
		<string>illinoisplate.jpg</string>
		<string>indianaplate.jpg</string>
		<string>iowaplate.jpg</string>
		<string>kansasplate.jpg</string>
		<string>kentuckyplate.jpg</string>
		<string>louisianaplate.jpg</string>
		<string>maineplate.jpg</string>
		<string>marylandplate.jpg</string>
		<string>massachusettsplate.jpg</string>
		<string>michiganplate.jpg</string>
		<string>minnesotaplate.jpg</string>
		<string>mississippiplate.jpg</string>
		<string>missouriplate.jpg</string>
		<string>montanaplate.jpg</string>
		<string>nebraskaplate.jpg</string>
		<string>nevadaplate.jpg</string>
		<string>newhampshireplate.jpg</string>
		<string>newjerseyplate.jpg</string>
		<string>newmexicoplate.jpg</string>
		<string>newyorkplate.jpg</string>
		<string>northcarolinaplate.jpg</string>
		<string>northdakotaplate.jpg</string>
		<string>ohioplate.jpg</string>
		<string>oklahomaplate.jpg</string>
		<string>oregonplate.jpg</string>
		<string>pennsylvaniaplate.jpg</string>
		<string>rhodeislandplate.jpg</string>
		<string>southcarolinaplate.jpg</string>
		<string>southdakotaplate.jpg</string>
		<string>tennesseeplate.jpg</string>
		<string>texasplate.jpg</string>
		<string>utahplate.jpg</string>
		<string>vermontplate.jpg</string>
		<string>virginiaplate.jpg</string>
		<string>washingtonplate.jpg</string>
		<string>westvirginiaplate.jpg</string>
		<string>wisconsinplate.jpg</string>
		<string>wyomingplate.jpg</string>
	</array>
	<key>Area</key>
	<array>
		<string>52,423</string>
		<string>656,425</string>
		<string>114,006</string>
		<string>53,182</string>
		<string>163,707</string>
		<string>104,100</string>
		<string>5,544</string>
		<string>2,489</string>
		<string>65,758</string>
		<string>59,441</string>
		<string>10,931</string>
		<string>83,569</string>
		<string>57,913</string>
		<string>36,419</string>
		<string>56,273</string>
		<string>82,278</string>
		<string>40,407</string>
		<string>52,378</string>
		<string>35,379</string>
		<string>12,406</string>
		<string>10,554</string>
		<string>96,714</string>
		<string>86,935</string>
		<string>48,431</string>
		<string>69,706</string>
		<string>147,039</string>
		<string>77,347</string>
		<string>110,557</string>
		<string>9,349</string>
		<string>8,722</string>
		<string>121,590</string>
		<string>54,544</string>
		<string>53,819</string>
		<string>70,698</string>
		<string>44,824</string>
		<string>69,898</string>
		<string>98,378</string>
		<string>46,054</string>
		<string>1,544</string>
		<string>32,020</string>
		<string>77,114</string>
		<string>42,144</string>
		<string>268,596</string>
		<string>84,897</string>
		<string>9,616</string>
		<string>42,775</string>
		<string>71,298</string>
		<string>24,230</string>
		<string>65,496</string>
		<string>97,813</string>
	</array>
	<key>States</key>
	<array>
		<string>Alabama</string>
		<string>Alaska</string>
		<string>Arizona</string>
		<string>Arkansas</string>
		<string>California</string>
		<string>Colorado</string>
		<string>Connecticut</string>
		<string>Deleware</string>
		<string>Florida</string>
		<string>Georgia</string>
		<string>Hawaii</string>
		<string>Idaho</string>
		<string>Illinois</string>
		<string>Indiana</string>
		<string>Iowa</string>
		<string>Kansas</string>
		<string>Kentucky</string>
		<string>Louisiana</string>
		<string>Maine</string>
		<string>Maryland</string>
		<string>Massachusetts</string>
		<string>Michigan</string>
		<string>Minnesota</string>
		<string>Mississippi</string>
		<string>Missouri</string>
		<string>Montana</string>
		<string>Nebraska</string>
		<string>Nevada</string>
		<string>New Hampshire</string>
		<string>New Jersey</string>
		<string>New Mexico</string>
		<string>New York</string>
		<string>North Carolina</string>
		<string>North Dakota</string>
		<string>Ohio</string>
		<string>Oklahoma</string>
		<string>Oregon</string>
		<string>Pennsylvania</string>
		<string>Rhode Island</string>
		<string>South Carolina</string>
		<string>South Dakota</string>
		<string>Tennessee</string>
		<string>Texas</string>
		<string>Utah</string>
		<string>Vermont</string>
		<string>Virginia</string>
		<string>Washington</string>
		<string>West Virginia</string>
		<string>Wisconsin</string>
		<string>Wyoming</string>
	</array>
	<key>StateFlag</key>
	<array>
		<string>AlabamaFlag.gif</string>
		<string>AlaskaFlag.png</string>
		<string>ArizonaFlag.gif</string>
		<string>ArkansasFlag.gif</string>
		<string>CaliforniaFlag.png</string>
		<string>ColoradoFlag.png</string>
		<string>ConnecticutFlag.gif</string>
		<string>DelewareFlag.gif</string>
		<string>FloridaFlag.gif</string>
		<string>GeorgiaFlag.gif</string>
		<string>HawaiiFlag.gif</string>
		<string>IdahoFlag.gif</string>
		<string>IllinoisFlag.gif</string>
		<string>IndianaFlag.gif</string>
		<string>IowaFlag.gif</string>
		<string>KansasFlag.gif</string>
		<string>KentuckyFlag.gif</string>
		<string>LouisianaFlag.gif</string>
		<string>MaineFlag.gif</string>
		<string>MarylandFlag.gif</string>
		<string>MassachusettsFlag.gif</string>
		<string>MichiganFlag.gif</string>
		<string>MinnesotaFlag.gif</string>
		<string>MississippiFlag.gif</string>
		<string>MissouriFlag.gif</string>
		<string>MontanaFlag.gif</string>
		<string>NebraskaFlag.gif</string>
		<string>NevadaFlag.gif</string>
		<string>NewHampshireFlag.gif</string>
		<string>NewMexicoFlag.gif</string>
		<string>NewYorkFlag.gif</string>
		<string>NewJerseyFlag.gif</string>
		<string>NorthCarolinaFlag.gif</string>
		<string>NorthDakotaFlag.gif</string>
		<string>OhioFlag.gif</string>
		<string>OklahomaFlag.gif</string>
		<string>OregonFlag.gif</string>
		<string>PennsylvaniaFlag.gif</string>
		<string>RhodeIslandFlag.gif</string>
		<string>SouthCarolinaFlag.gif</string>
		<string>SouthDakotaFlag.gif</string>
		<string>TennesseeFlag.gif</string>
		<string>TexasFlag.gif</string>
		<string>UtahFlag.gif</string>
		<string>VermontFlag.gif</string>
		<string>VirginiaFlag.gif</string>
		<string>WashingtonFlag.gif</string>
		<string>WestVirginiaFlag.gif</string>
		<string>WisconsinFlag.gif</string>
		<string>WyomingFlag.gif</string>
	</array>
	<key>Population</key>
	<array>
		<string>4,822,000</string>
		<string>731,000</string>
		<string>6,553,000</string>
		<string>2,949,000</string>
		<string>38,040,000</string>
		<string>5,268,000</string>
		<string>3,605,000</string>
		<string>926,000</string>
		<string>19,553,000</string>
		<string>9,992,000</string>
		<string>1,360,000</string>
		<string>1,567,000</string>
		<string>12,830,000</string>
		<string>6,483,000</string>
		<string>3,046,000</string>
		<string>2,853,000</string>
		<string>4,339,000</string>
		<string>4,533,000</string>
		<string>1,329,000</string>
		<string>5,929,000</string>
		<string>6,693,000</string>
		<string>9,896,000</string>
		<string>5,420,000</string>
		<string>2,992,000</string>
		<string>6,044,000</string>
		<string>1,015,000</string>
		<string>1,869,000</string>
		<string>2,790,000</string>
		<string>1,323,000</string>
		<string>8,899,000</string>
		<string>2,085,000</string>
		<string>19,651,000</string>
		<string>9,848,000</string>
		<string>723,000</string>
		<string>11,570,000</string>
		<string>3,850,000</string>
		<string>3,930,000</string>
		<string>12,774,000</string>
		<string>1,051,000</string>
		<string>4,775,000</string>
		<string>844,900</string>
		<string>6,496,000</string>
		<string>26,448,000</string>
		<string>2,901,000</string>
		<string>626,000</string>
		<string>8,260,000</string>
		<string>6,971,000</string>
		<string>1,854,000</string>
		<string>5,742,000</string>
		<string>583,000</string>
	</array>
	<key>LargeCity</key>
	<array>
		<string>Birmingham</string>
		<string>Anchorage</string>
		<string>Phoenix</string>
		<string>Little Rock</string>
		<string>Los Angeles</string>
		<string>Denver</string>
		<string>Bridgeport</string>
		<string>Wilmington</string>
		<string>Jacksonville</string>
		<string>Atlanta</string>
		<string>Honolulu</string>
		<string>Boise</string>
		<string>Chicago</string>
		<string>Indianapolis</string>
		<string>Des Moines</string>
		<string>Wichita</string>
		<string>Louisville</string>
		<string>New Orleans</string>
		<string>Portland</string>
		<string>Baltimore</string>
		<string>Boston</string>
		<string>Detroit</string>
		<string>Minneapolis</string>
		<string>Jackson</string>
		<string>Kansas City</string>
		<string>Billings</string>
		<string>Omaha</string>
		<string>Las Vegas</string>
		<string>Manchester</string>
		<string>Newark</string>
		<string>Albuquerque</string>
		<string>New York</string>
		<string>Charlotte</string>
		<string>Fargo</string>
		<string>Columbus</string>
		<string>Oklahoma City</string>
		<string>Portland</string>
		<string>Philadelphia</string>
		<string>Providence</string>
		<string>Columbia</string>
		<string>Sioux Falls</string>
		<string>Memphis</string>
		<string>Houston</string>
		<string>Salt Lake City</string>
		<string>Burlington</string>
		<string>Virginia Beach</string>
		<string>Seattle</string>
		<string>Charleston</string>
		<string>Milwaukee</string>
		<string>Cheyenne</string>
	</array>
	<key>Abbreviations</key>
	<array>
		<string>AL</string>
		<string>AK</string>
		<string>AZ</string>
		<string>AR</string>
		<string>CA</string>
		<string>CO</string>
		<string>CT</string>
		<string>DE</string>
		<string>FL</string>
		<string>GA</string>
		<string>HI</string>
		<string>ID</string>
		<string>IL</string>
		<string>IN</string>
		<string>IA</string>
		<string>KS</string>
		<string>KY</string>
		<string>LA</string>
		<string>ME</string>
		<string>MD</string>
		<string>MA</string>
		<string>MI</string>
		<string>MN</string>
		<string>MS</string>
		<string>MO</string>
		<string>MT</string>
		<string>NE</string>
		<string>NV</string>
		<string>NH</string>
		<string>NJ</string>
		<string>NM</string>
		<string>NY</string>
		<string>NC</string>
		<string>ND</string>
		<string>OH</string>
		<string>OK</string>
		<string>OR</string>
		<string>PA</string>
		<string>RI</string>
		<string>SC</string>
		<string>SD</string>
		<string>TN</string>
		<string>TX</string>
		<string>UT</string>
		<string>VT</string>
		<string>VA</string>
		<string>WA</string>
		<string>WV</string>
		<string>WI</string>
		<string>WY</string>
	</array>
	<key>ResNames</key>
	<array>
		<string>Alabamian</string>
		<string>Alaskan</string>
		<string>Arizonian</string>
		<string>Arkansan</string>
		<string>Californian</string>
		<string>Coloradan</string>
		<string>Connecticuter</string>
		<string>Delawarean</string>
		<string>Floridian</string>
		<string>Georgian</string>
		<string>Hawaiian</string>
		<string>Idahoan</string>
		<string>Illinoisan</string>
		<string>Indianian</string>
		<string>Iowan</string>
		<string>Kansan</string>
		<string>Kentuckian</string>
		<string>Louisianan</string>
		<string>Mainer</string>
		<string>Marylander</string>
		<string>Massachusettsan</string>
		<string>Michigander</string>
		<string>Minnesotan</string>
		<string>Mississippian</string>
		<string>Missourian</string>
		<string>Montanan</string>
		<string>Nebraskan</string>
		<string>Nevadan</string>
		<string>New Hampshirite</string>
		<string>New Jerseyan</string>
		<string>New Mexican</string>
		<string>New Yorker</string>
		<string>North Carolinian</string>
		<string>North Dakotan</string>
		<string>Ohioan</string>
		<string>Oklahoman</string>
		<string>Oregonian</string>
		<string>Pennsylvanian</string>
		<string>Rhode Islander</string>
		<string>South Carolinian</string>
		<string>South Dakotan</string>
		<string>Tennessean</string>
		<string>Texan</string>
		<string>Utahn</string>
		<string>Vermonter</string>
		<string>Virginian</string>
		<string>Washingtonian</string>
		<string>West Virginian</string>
		<string>Wisconsinite</string>
		<string>Wyomingite</string>
	</array>
	<key>MainViewPictures</key>
	<array>
		<string>Alabamamain.png</string>
		<string>Alaskamain.png</string>
		<string>Arizonamain.png</string>
		<string>Arkansasmain.png</string>
		<string>CaliforniaMain.png</string>
		<string>Coloradomain.png</string>
		<string>Connecticutmain.png</string>
		<string>Delewaremain.png</string>
		<string>Floridamain.png</string>
		<string>Georgiamain.png</string>
		<string>Hawaiimain.png</string>
		<string>Idahomain.png</string>
		<string>Illinoismain.png</string>
		<string>Indianamain.png</string>
		<string>Iowamain.png</string>
		<string>kansasmain.png</string>
		<string>kentuckymain.png</string>
		<string>louisianamain.png</string>
		<string>Mainemain.png</string>
		<string>Marylandmain.png</string>
		<string>massmain.png</string>
		<string>michiganmain.png</string>
		<string>minnmain.png</string>
		<string>missmain.png</string>
		<string>missourimain.png</string>
		<string>Montanamain.png</string>
		<string>nebraskamain.png</string>
		<string>nevadamain.png</string>
		<string>newhampshiremain.png</string>
		<string>newjerseymain.png</string>
		<string>newmexicomain.png</string>
		<string>newyorkmain.png</string>
		<string>northcarolinamain.png</string>
		<string>northdakota.png</string>
		<string>ohiomain.png</string>
		<string>oklahomamain.png</string>
		<string>oregonmain.png</string>
		<string>pennsylvaniamain.png</string>
		<string>rhodeislandmain.png</string>
		<string>southcarolinamain.png</string>
		<string>southdakota.png</string>
		<string>tennesseemain.png</string>
		<string>texasmain.png</string>
		<string>utahmain.png</string>
		<string>vermontmain.png</string>
		<string>virginiamain.png</string>
		<string>washingtonmain.png</string>
		<string>westvirginiamain.png</string>
		<string>wisconsinmain.png</string>
		<string>wyomingmain.png</string>
	</array>
</dict>
</plist>
